{% extends "core/base.html" %}

{% block content %}
	<div class="flex items-center justify-center h-screen bg-gradient-to-br bg-gray-50 h-screen">
		<div class="bg-white text-center rounded-xl border shadow-2xl p-10 max-w-xs max-w-[400px]">
			<img class="mb-3 w-36 h-36 rounded-full shadow-xl mx-auto object-cover"
					 src="https://appraf.com/media/users/sm/0a5cb38f37e94050817cce22aa70eafa.JPEG"
					 alt="software engineer">
			<h1 class="text-2xl font-bold text-black">Mert Günay</h1>
			<h3 class="text-lg font-semibold text-gray-500 ">Software Engineer</h3>
			<p class="text-base text-gray-400 mt-4">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<button class="bg-black px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide">
				Hire Me
			</button>
		</div>
	</div>
{% endblock %}